<% provide(:title, @list.listname) %>

<h1 style="float:left"><%= @list.listname %>
<span class="drop_font"><%= link_to "delete", @list, method: :delete,
 			data: { confirm: "You sure?" } %></span></h1>

<table id="List_words" class = "clearfix:both">
<tr>
	<%= @list.words.size %>
</tr>

<% @list.words.each_slice(6) do |slice| %>
<tr>
	<% slice.each do |w| %>
		<td><%= w.word %></td>
	<% end %>
</tr>
<% end %>
</table>