<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
MyWords is spelling and literacy site for school age children. It's hoped that it can become a central area for resources for this age group.

The main feature is the ability to integrate spelling lists selected from our standard lists, or those created by members and download them to your smart phone. This ability allows for an opportunistic learning experience with your children. Next time your child is bored take it a little further and test there spelling for the following week.

If you find yourself at this site - it is very much 'not working' (yet) 
</p>