<div class="center-block">
  <div>
    </br>
    <h1>MyWords</h1>
    <% if signed_in? %>
      <h2> Welcome Back <%= current_user.name %> </h2>
    <% else %>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-small btn-primary" %>
    <% end %>
  </div>
</div>
