<div class="center hero-unit">
	<h1>MyWords</h1>

    <h2>
      This is the home page for the MyWords spelling list appilication
    </h2>

	<% if signed_in? %>
    
	<% else %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	<% end %>
</div>