<div class="center-block">
  <h1>MyWords</h1>
  </br>
  </br>
  <% if signed_in? %>
    <p> Welcome Back <%= current_user.name %> </p>
  <% else %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-small btn-primary" %>
  <% end %>
</div>
