<% provide(:title, @user.name) %>

  <aside>
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
      <%= @user.name %> has <%= pluralize( @user.lists.count, 'list' ) %>
   </aside>
</div>

